.mg_0_auto{
    margin: 0 auto !important;
}

.bg{
    background-color: #fffebe !important;
}

.sign_up_form{
    margin-top: 120px;
    padding: 80px 10%;
    position: relative;
}

.order_form{
    padding: 80px 10%;
    position: relative;
}

.sign_up_div{
    position: absolute;
    color: white;
    top: -50px;
    left: 25%;
    width: 50%;
    height: 100px;
    border: 0px solid ;
    border-radius: 5px;
    background-color: #560079;
    h2{
        text-align: center;
    }
}

.mg_top_20{
    margin-top: 20px !important;
}

.btn_sign{
    margin-right: 20px !important; 
    color: white !important;
    text-decoration: none !important;
}

.btn_sign_up{
    margin-right: 20px !important; 
    color: black !important;
    text-decoration: none !important;
}
